html {
    background-color: #cabfb6;
}

body {
    width: 600px;
    background-color: white;
    margin: 0 auto;
    padding: 100px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    font-family: 'Proza Libre', sans-serif;
}

.button1 {
    background-color: #c9793b;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

.button1:hover {
    border-color: black;
    transition-duration: 0.4s;
}

.buttonAlign {
    text-align: center;
}

p {
    font-family: 'Open Sans', sans-serif;
}

.androidButton {
    font-family: 'Open Sans', sans-serif;
    background-color: #a4c93b;
    padding: 5px 25px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}

.appleButton {
    font-family: 'Open Sans', sans-serif;
    background-color: #b6bcca;
    padding: 5px 25px;
    font-size: 20px;
    border-radius: 5px;
    border: none;
}